.questionBox{
	min-height: 300px;
}

.candidate-img {
  z-index: 10;
  position: absolute !important;
  top: -90px;
  left: 15px;
  height: 170px !important;
}
.party-img {
  z-index: 10;
  position: absolute !important;
  top: -70px;
  left: 15px;
  height: 140px !important;
}

#indicator .hidden{

	display: none;
}

.hiddencontent{

  display: none;
}

.hidden{
  display: none;
}

.likebtn,.favoritebtn{
  color: gray;
}

.partyTimelineAtag{
  display: inline-block !important;
  width: 100%;
}

.partyTimeline{
  width: 100%;
  max-height: 280px;
}

.favoriteimage{

width: 200px !important;
height: 170px !important;
}