.questionBox{
	min-height: 300px;
}

.candidate-img {
  z-index: 10;
  position: absolute !important;
  top: -90px;
  left: 15px;
  height: 170px !important;
}
.party-img {
  z-index: 10;
  position: absolute !important;
  top: -70px;
  left: 15px;
  height: 140px !important;
}

#indicator .hidden{

	display: none;
}

.hiddencontent{

  display: none;
}